*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}
body{
    background-color: tomato;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;



}
.form-container{
    
        width: 70%;
        background-color: chartreuse;
        margin: auto;
        padding: 11%;
        margin: 20px auto;
        border-radius: 12px;
        

}
.animate {  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }