*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}
body{
    background-color: tomato;
    color:white

 



}
label{
    font-size: large;
    font-weight: bold;
}

.number-input{

    padding: 10px 0px;
    border: none;
    border-radius: 10px;
    background-color: gray;
    color: black;
    font-weight: 900;
    outline: none;
    text-align: center;
}
.Btn{
    background-color: darkslateblue;
    color: white;
    font-size: 20px;
    border: none;
   
    cursor: pointer;
    transition: all ease 1.5s;

  
}
.Btn:hover{
    border-radius: 15px;
    background-color: rgb(230, 228, 241);
    color: rgb(202, 13, 13);
    font-weight: bolder;
}



.form-container{
    
        width: 70%;
        background-color: chartreuse;
        margin: auto;
        padding: 11%;
        margin: 20px auto;
        border-radius: 12px;
        
        

}

  